<html>
  <head>
    <title>anaGo Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url('base.css') }}" />

  </head>
  <body>

    <div id="app" class="container">
      <div class="content-area">
	<div class="columns">
	  <div class="column">
	    <div class="field">
	      <label class="label">Sentence</label>
	      <div class="control">
		<form action="/" method="post">
		  <textarea id="sentence" name="sentence" class="textarea" placeholder="Textarea"></textarea>
		  <input type="submit" id="submit" style="display:none"/>
		</form>
	      </div>
	    </div>
	    
	    <label class="label">Named Entities</label>
	    <div class="example">
	    <div class="content">
	      <p>
		<small class="axlabel organization">Organization</small>
		<small class="axlabel location">Location</small>
		<small class="axlabel person">Person</small>
		<small class="axlabel misc">Misc</small>
	      </p>
	    </div>

	    <article class="message">
	      <div class="message-body">
		<small class="axlabel organization">Foxconn Technology Group</small>, which helped turn <small class="axlabel location">China</small> into the center of electronics manufacturing, said it would build a <small class="axlabel misc">$10 billion</small> plant in <small class="axlabel location">Wisconsin</small> to make display panels used in televisions and other products.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
		{{ sent }}
	      </div>
	    </article>

	    </div>
	  </div>
	</div>
      </div>
    </div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{{ static_url('script.js') }}" /></script>
  </body>
</html>
