backports.weakref==1.0rc1
bleach==1.5.0
h5py==2.7.0
html5lib==0.9999999
Keras==2.0.5
Markdown==2.2.0
numpy==1.13.0
protobuf==3.3.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
scikit-learn==0.18.2
scipy==0.19.1
six==1.10.0
tensorflow==1.2.0
Theano==0.9.0
Werkzeug==0.12.2
