meter{
    background: whitesmoke;
}

meter::-webkit-meter-bar {
    background: whitesmoke;
}

meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom, #62c462, #51a351);
}
meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fbb450, #f89406);
}
meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

.axlabel {
    padding: 2px;
    border-radius: 5px;
    margin-right:5px;
}

.axlabel.facility{
    border: 1px solid #c2e0c6;
    background-color: #c2e0c6;
}

.axlabel.event{
    border: 1px solid #fef2c0;
    background-color: #fef2c0;
}

.axlabel.percentage{
    border: 1px solid #d8bfd8;
    background-color: #d8bfd8;
}

.axlabel.location{
    border: 1px solid #fbca04;
    background-color: #fbca04;
}

.axlabel.money{
    border: 1px solid #EE82EE;
    background-color: #EE82EE;
}

.axlabel.misc{
    border: 1px solid #deb887;
    background-color: #deb887;    
}

.axlabel.organization{
    border: 1px solid #e99695;
    background-color: #e99695;    
}

.axlabel.person{
    border: 1px solid #b0c4de;
    background-color: #b0c4de;    
}

.axlabel.count{
    border: 1px solid #FF00FF;
    background-color: #FF00FF;
}

.axlabel.time{
    border: 1px solid #00FFFF;
    background-color: #00FFFF;
}

.axlabel.date{
    border: 1px solid #00FF00;
    background-color: #00FF00;
}

.axlabel.artifact{
    border: 1px solid #DC143C;
    background-color: #DC143C;
}


.content-area{
    margin-left:.75em;
    margin-right:.75em
}

.example, .structure {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    position: relative;
}