meter{
    background: whitesmoke;
}

meter::-webkit-meter-bar {
    background: whitesmoke;
}

meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom, #62c462, #51a351);
}
meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fbb450, #f89406);
}
meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #ee5f5b, #bd362f);
}

.axlabel {
    padding: 2px;
    border-radius: 5px;
    margin-right:5px;
}

.axlabel.dialogue, .axlabel.nlp{
    border: 1px solid #c2e0c6;
    background-color: #c2e0c6;
}

.axlabel.computervision{
    border: 1px solid #fef2c0;
    background-color: #fef2c0;
}

.axlabel.audiorecognition, .axlabel.audiosynthesis{
    border: 1px solid #d8bfd8;
    background-color: #d8bfd8;
}

.axlabel.location{
    border: 1px solid #fbca04;
    background-color: #fbca04;
}

.axlabel.money2{
    border: 1px solid #fffafa;
    background-color: #fffafa;
}

.axlabel.misc{
    border: 1px solid #deb887;
    background-color: #deb887;    
}

.axlabel.organization{
    border: 1px solid #e99695;
    background-color: #e99695;    
}

.axlabel.person{
    border: 1px solid #b0c4de;
    background-color: #b0c4de;    
}

.content-area{
    margin-left:.75em;
    margin-right:.75em
}

.example, .structure {
    border: 1px solid #ccc;
    border-top-right-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    padding: 1.5rem;
    position: relative;
}