<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>anaGo Demo</title>
    <link rel="shortcut icon" href="../images/fav_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.7.1-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="./">
                            <h1>
                                <b class="has-text-white is-size-3">anaGo</b>
                            </h1>
                        </a>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/Hironsan/anago/tree/master/docs/docs">
                                    <span class="icon">
                                        <i class="fa fa-book"></i>
                                    </span>
                                    <span>Documentation</span>
                                </a>
                            </span>
                            <span class="navbar-item">
                                <a class="button is-white is-outlined" href="https://github.com/Hironsan/anago">
                                    <span class="icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                    <span>View Source</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div id="root" class="hero-body">
            <div class="container">
                <div class="column is-6 is-offset-3">
                    <div class="box">

                        <div class="field">
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="Enter English text" maxLength="100" v-model="query">
                            </p>
                        </div>
                    </div>

                    <div class="box">
                        <div class="tags" style="margin:0">
                            <span v-bind:class="value" v-for="(value, key) in type2color">[[ key ]]</span>
                        </div>
                        <hr style="margin: 0.7rem 0;background-color:#EFEFEF;">
                        <template v-for="r in result">
                            <span v-bind:class="r.color">[[ r.word ]]</span>&nbsp;
                        </template>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script type="text/javascript">
        axios.defaults.xsrfCookieName = 'csrftoken';
        axios.defaults.xsrfHeaderName = 'X-CSRFToken';
        var base_url = window.location.href;

        var vm = new Vue({
            el: '#root',
            delimiters: ['[[', ']]'],
            data: {
                query: '',
                result: [],
                type2color: {
                    'PER': 'tag is-info',
                    'LOC': 'tag is-warning',
                    'ORG': 'tag is-black',
                    'MISC': 'tag is-success'
                },
            },
            watch: {
                query: function () {
                    console.log(this.query);
                    if (this.query == '') {
                        this.result = '';
                        return;
                    }
                    var payload = {
                        'text': this.query
                    };
                    axios.post(`${base_url}api/ner`, payload).then(response => {
                        var res = [];
                        var left = 0;
                        var d = response.data;
                        for (e of d['entities']) {
                            var begin = e['beginOffset'];
                            var end = e['endOffset'];
                            var type = e['type'];
                            var text = d['words'].slice(left, begin).join(' ');
                            res.push({
                                'word': text,
                                'color': ''
                            });
                            var text = d['words'].slice(begin, end).join(' ');
                            res.push({
                                'word': text,
                                'color': this.type2color[type]
                            });
                            left = end;
                        }
                        var text = d['words'].slice(left, d['words'].length).join(' ');
                        res.push({
                            'word': text,
                            'color': ''
                        });
                        this.result = res;
                    })
                }
            }
        })
    </script>
</body>

</html>